node_modules
dist
.DS_Store
.env
.env.local
ios/DerivedData
ios/.build
backend/functions/.firebase
backend/functions/.env
ios/BitterJuiceApp/SupabaseConfig.plist
ios/BitterJuiceApp/GoogleService-Info.plist
ios/**/*.xcuserdatad
ios/**/*.xcuserdata
ios/**/*.xccheckout
ios/**/*.xcscmblueprint
ios/**/*.xcworkspace/xcuserdata
ios/**/.swiftpm
ios/**/.swiftpm/**/*
ios/**/.build
